.vainqueur
{
    font-weight: bold;
}

.journee
{
    display: block;
    font-weight: bold;
    text-align: center;
    font-size : 20px;
    border: solid 2px black;
    padding: 10px;
    margin-top: 50px;
    margin-right: 250px;
    margin-left: 50px;
}

.match
{
    color: black;
}

.home, .visiteur
{
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    border: solid 2px black;
}

.home
{
    margin-left: 170px;
    margin-right: 120px;
}


